* {
  box-sizing: border-box;
}

@font-face {
    font-family: "OpenSans Light";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}

body {
  background-size: cover;
  font-family: "OpenSans Light", monospace;
}

.chat_wrapper {
  position: absolute;
  width: 475px;
  height: 100%;
}

.chat_window {
  opacity: 1;
  position: absolute;
  width: 475px;
  height: 100%;
  background-color: rgba(200,200,255,0.15);
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.chat_header {
  position: absolute;
  top: 0;
  background: rgba(255,255,255,0.3);
  border-bottom: solid 1px rgba(255,255,255,0.5);
  width: 100%;
  height: 110px;
}

.chat_header .map_status {
  overflow: hidden;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-flow: column nowrap;
  width: 435px;
  height: 90px;
  background: rgba(255,255,255,1);
  border-radius: 10px;
}

.chat_header .map_status .title_bar {
  top: 0;
  margin: 0px;
  padding: 0px;
  height: 20px;
  width: 100%;
  background: rgba(229,229,229,1);
  color: #338;
  padding-left: 5px;
  display: flex;
}

.chat_header .map_status .status_body {
  flex: 2;
  display: flex;
}

.chat_header .status_body .hline {
  height: 80%;
  flex: 0;
}

.chat_header .status_section .hline {
  top: 0;
  transform: translate(0,0);
  height: 65%;
  flex: 0;
}


.status_section {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.status_section .budget_status {
  color: #338;
  text-align: center;
  display: inline-block;
}

.status_section .budget_coin {
  font-size: 1.2em;
}

.donut_legend {
  display: flex;
  align-items: center;
  color: #338;
  stroke: #338;
  font-size: 12px;

}

.donut_legend .ph_text, .cc_text {
  line-height: 1.2em;
  float: left;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
}

.node_counts {
  padding: 10px 0 10px 0;
  color: #338;
  font-size: 0.9em;
}

.peerIcon, .spIcon, .wtIcon {
    margin: 0 5px 0 5px;
    vertical-align: middle;
}

.node_count_row {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

.node_count {
  padding-left: 10px;
  margin-left: auto;
}

.ph_text b {
  font-size: 1.95em
}

.cc_text b {
  font-size: 0.7em
}

.donut_legend .donut_chart {
  position: relative;
  display: inline-block;
}

.donut_chart span {
  font-size: 1.1em;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.chat_header .status_body .status_section {
  flex: 100%;
  display: flex;
}

.title_bar span {
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  padding: 0 5px 0 5px;
  width: 100px;
}

.title_bar span:last-child {
    margin-left: auto;
}

.title_bar p {
  padding-left: 5px;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  display: inline;
  font-size: 13px;
}

.messages {
  position: relative;
  list-style: none;
  float: left;
  padding: 120px 20px 95px 20px;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
}

.messages::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes message-fade {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes message-fade {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all 0.5s linear;
  border-radius: 7px;
  opacity: 0;
  --box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}

.message .message_header {
  background: rgba(229,229,229,1);
  height: 18px;
  color: #338;
  font-size: 13px;
  line-height: 20px;
  padding-left: 5px;
}

.messages .message.bot-sent {
  width: calc(100% - 40px);
  left: 0px;
}

.messages .message.user-sent {
  max-width: calc(100% - 40px);
  min-width: 200px;
  right: 0px;
  float: right;
}

.messages .message.appeared {
  -webkit-animation: message-fade 1s ease-out 1;
  animation: message-fade 1s ease-out 1;
  opacity: 1;
}

.messages .message .text_wrapper {
  --background: linear-gradient(rgba(246, 229, 191, 0.7), rgba(255,255,255,0.7));
  background: rgba(255,255,255,0.5);
  padding: 10px;
}

.messages .message .text_wrapper .text {
  font-size: 13px;
  color: #338;
  white-space: pre-wrap;
}

.messages .message .widget_wrapper img {
  opacity: 0.7;
  width: 100%;
}

.messages .buttons {
  position: relative;
  list-style: none;
  width: 100%;
  float: left;
  padding: 0 0 0 0;
  margin: 0;
}

.messages .buttons .button {
  text-align: center;
  background: linear-gradient(to right, rgba(255,180,0,0.7), rgba(250,180,0,0.8));
  display: inline-block;
  padding: 3px;
  margin-bottom: 2px;
  border: 1.4px solid #338;
  width: 100%;
  min-width: 100px;
  position: relative;
}


.input_footer {
  position: absolute;
  bottom: 0;
  width: 475px;
  border: none;
  border-top: solid 1px rgba(255,255,255,0.5);
  height: 105px;
  background: rgba(255,255,255,0.5);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.input_wrapper {
  display: flex;
  width: 435px;
  height: 47px;
  background: rgba(255,255,255, 1);
  border-radius: 10px;
}

.mca_container {
  display: flex;
  width: 435px;
  float: left;
  padding: 0 5px 0 5px;
  height: 47px;
  background: rgba(0,0,0,0);
}

.mca_container .multi_button {
  color: rgba(255,255,255,0.8);
  background: #33C;
  font-family: "OpenSans Light", monospace;
  font-weight: 10;
  border: none;
  outline: none;
  cursor: pointer;
  margin: auto 2px auto 2px;
}

.hline {
  top: 50%;
  transform: translate(0,-50%);
  display: inline-block;
  float: left;
  border-left: solid 1px #338;
  position: relative;
  width: 0px;
  padding: 0;
  margin: 0;
}

.input_wrapper .hline {
  height: 32px;
}

.input_wrapper .input_container {
  display: flex;
  width: 100%;
  float: left;
  padding-left: 10px;
  height: 100%;
  background: rgba(0,0,0,0);
}

.input_wrapper .input_container .message_input {
  height: 100%;
  outline-width: 0;
  border: none;
  background: rgba(0,0,0,0);
  width: 100%;
  color: #338;
  float: right;
  font-family: "OpenSans Light", monospace;
  font-size: 15px;
}

.input_wrapper .input_container .send_button {
  top: 50%;
  transform: translate(0,-50%);
  --background: rgba(43,61,152,0.1);
  border-radius: 5px;
  margin-left: 7px;
  margin-right: 7px;
  text-align: center;
  color: #338;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
  float: right;
  font-family: "OpenSans Light", monospace;
  font-weight: 600;
  text-transform: none;
}
