body {
  background: linear-gradient(to right, rgba(214,100,234,1), rgba(193,226,124,1));
}

.simulationBackground {
  background: linear-gradient(to right, rgba(114,206,234,1), rgba(193,26,124,1));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: scroll;
  transition: opacity 2s;
}

.simulationBackground.dayCycle {
  opacity: 0;
}

.simulation {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: scroll;
}

.simulation svg {
  width: 100%;
  height: 100%;
}

.peerIcon {
  fill: rgb(246,255,0);
  stroke: rgb(246,255,0);
}

.node.peer {
  fill: rgb(246,255,0);
  stroke: rgb(246,255,0);
}

.node.windTurbine {
  fill: rgb(0,0,117);
  stroke: rgb(0,0,117);
}

.wtIcon {
  fill: rgb(0,0,117);
}

.node.solarPanel {
  fill: rgb(0,251,255);
  stroke: rgb(0,251,255);
}

.spIcon {
  fill: rgb(0,251,255);
}

.node.peer .peerFullCircle{
  fill-opacity: 0;
  stroke-dasharray: 3,4;
  --stroke: #338;
  stroke-width: 3px;
}

.node.peer .energyIndicator{
  stroke-width: 3px;
  opacity: 0;
}

.node.potential {
  fill: rgba(127,127,127,0.6);
  stroke: rgba(127,127,127,0.6);
}

line.link {
  stroke: white;
  stroke-width: 1.5px;
  stroke-opacity: 0.7;
}

.energyIndicator {
  stroke-width: 1.5px;
  fill-opacity: 0;

}

.gridlines line {
  stroke-opacity: 0.2;
  stroke-width: 0.7px;
  stroke: #FFF;
}

.corner_gridlines line {
  stroke-opacity: 0.5;
  stroke-width: 0.7px;
  stroke: #FFF;
}

.zoom-container {
  position: fixed;
  /*right: 100px;*/
  /*bottom: 100px;*/
  border-bottom: 1px solid white;
  width: 100px;
  color: white;
  text-align: center;
}

.scaleText {
  font-size: 10px;
}
