body {
  background: linear-gradient(to right, rgba(214,100,234,1), rgba(193,226,124,1));
}

.simulationBackground {
  background: linear-gradient(to right, rgba(114,206,234,1), rgba(193,26,124,1));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: scroll;
  transition: opacity 2s;
}

.simulationBackground.dayCycle {
  opacity: 0;
}

.simulation {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: scroll;
}

.simulation svg {
  width: 100%;
  height: 100%;
}

.spIcon {
  fill: rgb(255,255,117);
}

.node.solarPanel {
  fill: rgb(255,255,117);
  stroke: rgb(255,255,117);
}

.node.windTurbine {
  fill: rgb(114,236,245);
  stroke: rgb(114,236,245);
}

.wtIcon {
  fill: rgb(114,236,245);
}

.node.peer {
  fill: rgb(0,0,117);
  stroke: rgb(0,0,117);
}

.peerIcon {
  fill: rgb(0,0,117);
}

.node.peer .peerFullCircle{
  fill-opacity: 0;
  stroke-opacity: 1;
  stroke-dasharray: 3,4;
  stroke-width: 1.5px;
}

.wt_pulse {
  fill: rgb(114,236,245);
  transform-origin: center 66%;
  animation: out-pulse 5s ease infinite;
  stroke-opacity: 0;
}

.sp_pulse {
  fill: rgb(255,255,117);
  transform-origin: center center;
  animation: out-pulse 10s ease infinite;
  stroke-opacity: 0;
}

.peer_pulse {
  fill: rgb(0,0,117);
  animation: in-pulse 10s ease infinite;
  transform-origin: center center;
  stroke-opacity: 0;
}

@keyframes in-pulse {
  0% {
    transform: scale(1.5);
    opacity: 0
  }
  80% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}

@keyframes out-pulse {
  0% {
    transform: scale(0.7);
    opacity: 1;
  }
  90% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.node.peer .energyIndicator{
  stroke-width: 1.5px;
  opacity: 0;
}

.node.potential {
  fill: rgba(127,127,127,0.6);
  stroke: rgba(127,127,127,0.6);
}

line.link {
  vector-effect: non-scaling-stroke;
  stroke: white;
  stroke-width: 1.5px;
  stroke-opacity: 1;
}

.energyIndicator {
  stroke-width: 1.5px;
  fill-opacity: 0;

}

.gridlines line {
  stroke-opacity: 0.2;
  stroke-width: 0.7px;
  stroke: #FFF;
}

.corner_gridlines line {
  stroke-opacity: 0.5;
  stroke-width: 0.7px;
  stroke: #FFF;
}

.zoom-container {
  position: fixed;
  /*right: 100px;*/
  /*bottom: 100px;*/
  border-bottom: 1px solid white;
  width: 100px;
  color: white;
  text-align: center;
}

.scaleText {
  font-size: 10px;
}
