 * {
 /*CSS transitions*/
 -o-transition-property: none !important;
 -moz-transition-property: none !important;
 -ms-transition-property: none !important;
 /*CSS animations*/
 -moz-animation: none !important;
 -o-animation: none !important;
 -ms-animation: none !important;
}

body {
  background: linear-gradient(to right, rgba(214,100,234,1), rgba(193,226,124,1));
}

.simulationBackground {
  background: linear-gradient(to right, rgba(114,206,234,1), rgba(193,26,124,1));
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  transition: opacity 2s;
}

.simulationBackground.dayCycle {
  opacity: 0;
}

.simulation {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.simulation svg {
  width: 100%;
  height: 100%;
}

.simulation .container {
  opacity: 1;
  visibility: visible;
  transition: opacity 2s;
}

.simulation .container.hidden {
  visibility: hidden;
  opacity: 0;
}

.wpsIcon {
  fill: rgb(255,255,117);
}

.node.wps {
  fill: rgb(255,255,117);
  stroke: rgb(255,255,117);
}

.node.resilient {
  fill: rgb(114,236,245);
  stroke: rgb(114,236,245);
}

.resilientIcon {
  fill: rgb(114,236,245);
}

.node.housing {
  fill: rgb(0,0,117);
  stroke: rgb(0,0,117);
}

.housingIcon {
  fill: rgb(0,0,117);
}

.node.housing .housingFullCircle{
  fill-opacity: 0;
  stroke-opacity: 1;
  --stroke-dasharray: 3,4;
  stroke-width: 1px;
  stroke: rgb(0,0,117);
}

.resilient_pulse {
  fill: rgb(114,236,245);
  animation: out-pulse 5s ease infinite;
  -webkit-animation: out-pulse 5s ease infinite;
  stroke-opacity: 0;
}

.wps_pulse {
  fill: rgb(255,255,117);
  animation: out-pulse 10s ease infinite;
  -webkit-animation: out-pulse 10s ease infinite;
  stroke-opacity: 0;
}

.housing_pulse {
  fill: rgb(0,0,117);
  animation: in-pulse 10s ease infinite;
  -webkit-animation: in-pulse 10s ease infinite;
  stroke-opacity: 0;
}

@keyframes in-pulse {
  0% {
    transform: scale(1.5);
    opacity: 0
  }
  80% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}

@-webkit-keyframes in-pulse {
  0% {
    transform: scale(1.5);
    opacity: 0
  }
  80% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}

@keyframes out-pulse {
  0% {
    transform: scale(0.7);
    opacity: 1;
  }
  90% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes out-pulse {
  0% {
    transform: scale(0.7);
    opacity: 1;
  }
  90% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.node.housing .energyIndicator {
  stroke: none;
  fill-opacity: 0.3;
  fill: rgb(0,0,117);
  opacity: 0;
}

.node.housing .energyIndicator .outlineIndicator {
  fill-opacity: 1;
}

.node.potential:not(.resilient) {
  fill: rgba(127,127,127,0.6);
  stroke: rgba(127,127,127,0.6);
}

line.link {
  vector-effect: non-scaling-stroke;
  stroke: white;
  stroke-width: 1.5px;
  stroke-opacity: 1;
}

.energyIndicator {
  stroke-width: 0px;
  fill-opacity: 0.5;

}

.gridlines line {
  stroke-opacity: 0.2;
  stroke-width: 0.7px;
  stroke: #FFF;
}

.corner_gridlines line {
  stroke-opacity: 0.5;
  stroke-width: 0.7px;
  stroke: #FFF;
}

.zoom-container {
  position: fixed;
  /*right: 100px;*/
  /*bottom: 100px;*/
  border-bottom: 1px solid white;
  width: 100px;
  color: white;
  text-align: center;
  transition: opacity 2s;
  opacity: 1;
}

.zoom-container.hidden-zoom {
  opacity: 0;
}

.zoom-controls {
  /*text-align: right;*/
  margin-right: 6px;
  height: 50px;
  float: right;
  font-size: 18px;
  font-weight: 600;
  line-height: 1em;
}

.zoom-scale {
  float: right;
  width: 100%;
}

.zoom-control {
  width: 20px;
  height: 20px;
  background: rgba(93,93,93,0.7);
  margin-top: 0px;
  cursor: pointer;
  user-select: none;
  box-sizing: content-box;
}
.zoom-control:last-child {
  border-top: solid thin rgba(255,255,255,0.5);
}

.scaleText {
  font-size: 10px;
}

.hidden {
  display: none;
}