* {
  box-sizing: border-box;
}

body {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  font-family: "Monaco", monospace;
  color: white;
}

.chat_window {
  opacity: 0.9;
  position: absolute;
  width: calc(100% - 20px);
  max-width: 50%;
  height: 100%;
  background-color: rgba(255,255,255,0.0);
  left: 0px;
  top: 0px;
  transform: translateX(0) translateY(0);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: calc(100% - 88px);
  overflow: scroll;
}

@-webkit-keyframes message-fade {   
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes message-fade {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}

.messages .message.bot-sent .text_wrapper {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(255,105,180,0.8));
  margin-left: 10px;
}

.messages .message.user-sent .text_wrapper {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,255,255,0.8));
  margin-right: 10px;
  float: right;
}

.messages .message.appeared {
  -webkit-animation: message-fade 1s ease-out 1;
  animation: message-fade 1s ease-out 1;
  opacity: 1;
}

.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid rgba(255,255,255,0.7);
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}

.messages .message .text_wrapper .text {
  font-size: 15px;
  text-shadow: 2px 2px 8px #000000;
  color: #fff;
  white-space: pre-wrap;
}

.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}

.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  background-color: rgba(0,0,0,0);
  color: #ccc;
}

.bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: rbga(0,0,0,1);
  border: 2px solid #a3a0a3;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}

.bottom_wrapper .send_message:hover {
  color: #a3a0a3;
  background-color: rgba(0,0,0,0.3);
}

.bottom_wrapper .send_message .text {
  font-size: 18px;
  display: inline-block;
  line-height: 48px;
}

.message_input {
  font-family: "Monaco", monospace;
  font-size: 15px;
}
