* {
  box-sizing: border-box;
}

body {
  background: #FFF;
  background-size: cover;
  font-family: "Monaco", monospace;
  color: white;
}

.chat_window {
  opacity: 0.9;
  position: absolute;
  padding-left: 40px;
  width: 560px;
  height: 100%;
  background-color: rgba(255,255,255,0.0);
  left: 0px;
  top: 0px;
  transform: translateX(0) translateY(0);
  overflow: hidden;
}

.messages {
  position: relative;
  list-style: none;
  float: left;
  padding: 20px 0 0 0;
  margin: 0;
  height: calc(100% - 80px);
  overflow: scroll;
}

@-webkit-keyframes message-fade {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes message-fade {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}

.messages .message.bot-sent .text_wrapper {
  background: linear-gradient(to right, rgba(255,180,0,0.7), rgba(250,180,0,0.8));
  left: 0px;
}

.messages .message.user-sent .text_wrapper {
  background: linear-gradient(to right, rgba(255,180,0,0.7), rgba(250,180,0,0.8));
  right: 0px;
  float: right;
}

.messages .message.appeared {
  -webkit-animation: message-fade 1s ease-out 1;
  animation: message-fade 1s ease-out 1;
  opacity: 1;
}

.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border: 1.3px solid #338;
  width: calc(100% - 60px);
  min-width: 100px;
  position: relative;
}

.messages .message .text_wrapper .text {
  font-size: 13px;
  --text-shadow: 2px 2px 8px #000000;
  color: #338;
  white-space: pre-wrap;
}

.bottom_wrapper {
  margin-left: 40px;
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 520px;
  height: 54px;
  position: absolute;
  background: linear-gradient(to right, rgba(255,180,0,0.7), rgba(250,180,0,0.8));
  bottom: 0;
  left: 0;
  border: 1.5px solid #338;
}
.bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 54px;
  width: calc(100% - 160px);
  background: rgba(0,0,0,0);
  position: relative;
}

.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  background: rgba(0,0,0,0);
  position: absolute;
  outline-width: 0;
  color: #338;
  font-family: "Monaco", monospace;
  font-size: 15px;
}

.bottom_wrapper .send_message {
  display: inline-block;
  color: #00f;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}

.bottom_wrapper .send_message .text {
  font-size: 18px;
  display: inline-block;
  line-height: 48px;
}

