.simulation {
  position: absolute;
  padding: 10px;
  width: 50%;
  height: 100%;
  top: 0px;
  left: 50%;
  overflow: scroll;
}

.simulation svg {
  margin: 30px;
  width: calc(100% - 60px);
  height: 400px;
  background: rgb(0,0,0);
  border-radius: 20px;
  border: 2px solid #555;
  transition: all 0.3s linear;
  opacity: 0.7;
}

.simulation svg:hover {
  margin: 30px;
  width: calc(100% - 60px);
  height: 400px;
  background: rgba(0,0,0);
  border-radius: 20px;
  border: 2px solid #555;
}

.pvPanel {
  fill:orange;
  fill-opacity: 1;
}

.windTurbine {
  fill: cyan;
  fill-opacity: 1;
}

.residence {
  fill: green;
  fill-opacity: 1;
}

.node {
  stroke: black;
  stroke-width: 2px;
}

line.link {
  stroke: #999;
  stroke-opacity: 1;
}
